header {
  font-size: x-large;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 0 0 20px;
  align-content: center;
}

.main {
  display: flex;
}
form {
  padding: 0 0 10px 0;
}

.api {
  font-weight: bold;
  font-size: large;
  padding: 0 10px 0 5px;
  border:hotpink solid 1
}
.auth {
  padding: 0 10px 0 5px;
}
.cors {
  background: lime;
  padding: 0 10px 0 5px;
}
.https {
  /* background: turquoise; */
  padding: 0 10px 0 5px;
}

span .authvalue {
  background-color: powderblue;
}
.results {
  width: 40vw;
  height: 90vh;
  overflow: auto;
}

.apiViewer {
  width: 55vw;
  height: 90vh;
  overflow: auto;
}

.note {
  background-color: gold;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;  
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}